*{
    border: 1px solid #ff00ff;
    padding: 0px;
    margin: 0px;
}
header,
footer,
.div1{
    color: white;
    background-color: #1f2937;
}
header,
footer,
.div1,
.div2,
.div3,
.div4{
    padding: 20px 100px;
}
header,
ul,
.div1{
    display: flex;
}
header{
    justify-content: space-between;
}
.headerList{
    list-style-type: none;
    gap: 20px;
}
.headerLogo{
    font-weight: bold;
}
.headerList a{
    text-decoration: none;
}
.subdiv1-1,
.subdiv1-2{
    width: 50%;
}
.subdiv1-1 h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}
.subdiv1-1 p,
.headerList a{
    font-size: 18px;
    color: #e5e7eb;
}
.subdiv1-2{
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #3882f6;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 15px;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div2 h1{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.imgContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    text-align: center;
    font-size: 12px;
    width: 90%;
}
.imgWtxt{
    display: flex;
    flex-direction: column;
}
.imgWtxt img{
    border: solid #3882f6;
    border-radius: 10px;
}